html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Vollkorn", serif;
  font-weight: 400; 
  font-size: 16px;
}
section { 
	width: 100%;
 }
/*title of article*/
h1 {
	font-family: "Ubuntu", sans-serif;
	font-size: 24px;
}

/*author of article*/
h2{
	font-family: "Ubuntu", sans-serif;
	font-size: 20px;

}

/*article text*/
p {

}

/*Always do this for sections in your page!*/
/*keep in order of actual page for organization*/

#toc h1
#toc h2 
#toc p

/*<!-- SECTION ONE START letter to editor through all grown up-->
*/
#editor-note h1
#editor-note h2 
#editor-note p

#kriska h1
#kriska h2 
#kriska p



 

 /* <!-- SECTION TWO START etsi udiditlv through blackberries & brown sugar-->


  <!-- SECTION THREE START, mary's grandbaby through limbo -->


  <!-- SECTION FOUR START A slow brunch through a guide to helping depressed parents-->


  <!-- SECTION FIVE START unmasked friend through a future maybe-->*/









