html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Vollkorn", serif;
  font-weight: 400;
  font-size: 16px;
}

section {
  width: 100%;
}

img {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 36px;
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
	font-size: 20px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#cd-vertical-nav {
  display: none;
}

.no-touch #cd-vertical-nav {
  display: block;
  position: fixed;
  right: 40px;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 100;
}
.no-touch #cd-vertical-nav li {
  text-align: right;
}
.no-touch #cd-vertical-nav a {
  display: inline-block;
  /* prevent weird movements on hover when you use a CSS3 transformation - webkit browsers */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.no-touch #cd-vertical-nav a:after {
  content: "";
  display: table;
  clear: both;
}
.no-touch #cd-vertical-nav a span {
  float: right;
  display: inline-block;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -o-transform: scale(0.6);
  transform: scale(0.6);
}
.no-touch #cd-vertical-nav a:hover span {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.no-touch #cd-vertical-nav a:hover .cd-label {
  opacity: 1;
}
.no-touch #cd-vertical-nav a.is-selected .cd-dot {
  background-color: white;
}
.no-touch #cd-vertical-nav .cd-dot {
  position: relative;
  /* we set a top value in order to align the dot with the label. If you change label's font, you may need to change this top value*/
  top: 5px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #d88683;
  -webkit-transition: -webkit-transform 0.2s, background-color 0.5s;
  -moz-transition: -moz-transform 0.2s, background-color 0.5s;
  transition: transform 0.2s, background-color 0.5s;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.no-touch #cd-vertical-nav .cd-label {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  position: relative;
  margin-right: 10px;
  padding: 0 .5em;
  color: white;
  background-color: rgba(0,0,0,0.5);
  border-radius: 0.25em;
  font-size: 14px;
  font-size: 0.875rem;
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  -moz-transition: -moz-transform 0.2s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s;
  opacity: 0;
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}

@media (max-height: 600px) {
  .no-touch #cd-vertical-nav {
    display: none;
  }
}

#toc {
  background-color: rgba(0,0,0,0.5);
  background: url("../images/cover.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#toc .inner-text {
  background-color: rgba(0,0,0,0.5);
  padding: 2rem 3rem;
}

#toc h1 {
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-style: italic;
  font-size: 12vw;
  margin-top: 0;
  color: white;
  text-align: center;
}

#toc h2 {
  color: white;
  text-align: center;
}

#toc a,
#toc .author {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
	font-size: 20px;
  color: white;
}

#toc .author {
  font-weight: 600;
}

#toc ul {
  margin-top: 2rem;
}

#toc li {
  margin-top: 1rem;
}

/* SECTION ONE START letter to editor through all grown up */

#editor-note {
  background: url("../images/letter-to-editor-2.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#editor-note h1 {
  margin-top: 0;
  margin-left: 10%;
  padding-top: 2rem;
  font-size: 45px;
  text-align: left;
}

#editor-note p {
  margin-right: 20%;
  margin-left: 40%;
  text-align: right;
}

#editor-note .signature {
  padding: 2rem 0;
}

#editor-note img {
  height: 4rem;
  width: auto;
}

@media (max-width: 1000px) {
  #editor-note p {
    margin-left: 20%;
  }
}

@media (max-width: 600px) {
  #editor-note p {
    margin: 0 5%;
  }
}

/***************/

#spectacle_of_black_life h1 {
  margin-right: 10%;
  padding-top: 10%;
  text-align: right;
  color: white;
}

#spectacle_of_black_life h2 {
  margin-right: 10%;
  padding-bottom: 10%;
  text-align: right;
  color: white;
}

#spectacle_of_black_life p {
  margin: 2rem 10%;
  max-width: 800px;
}

#black_life_title {
  background-image: url( ../images/black_life_title.jpg);
  background-position: right;
  margin-left: 2%;
}

#spectacle_of_black_life img {
  width: 100%;
  height: auto;
}

@media (min-width: 900px) {
  #spectacle_of_black_life p {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
  }
}

/***************/

#rain #p_text {
  margin-top: 10vh;
  margin-bottom: 15vh;
  padding-top: 30vh;
  background-image: url("../images/Rain_Cecily_Lo.jpg");
  background-size: auto 70vh;
  background-position: center;
  background-repeat: no-repeat;
}

#rain h1 {
  margin-left: 15vw;
  padding-top: 10vh;
  text-align: left;
}

#rain h2 {
  margin-left: 15vw;
  text-align: left;
}

#rain p {
  margin-right: 15vw;
  text-align: right;
}

#rain .white {
  background-color: rgba(255,255,255,0.5);
}

/***************/

#all_grown_up {
  background: url("../images/Liza_Leonard.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#all_grown_up .row {
  width: 100%;
  margin: 0;
}

#all_grown_up .col-sm-4 {
  padding-top: 15vh;
  padding-bottom: 15vh;
  text-align: center;
  background-color: rgb(57, 172, 115);
}

#all_grown_up h1 {
  margin-left: 7vw;
  font-size: 90px;
  text-align: left;
  color: white;
}

#all_grown_up h2 {
  margin-left: 7vw;
  padding-top: 5vh;
  padding-bottom: 10%;
  text-align: left;
  color: white;
}

#all_grown_up p {
  color: white;
}

#all_grown_up .title {
  display: none;
}

@media (max-width: 767px) {
  #all_grown_up .col-sm-4 {
    margin-left: 10%;
    margin-right: 10%;
  }

  #all_grown_up h1 {
    margin-left: 7vw;
    font-size: 60px;
    text-align: left;
    color: white;
  }
}

/* SECTION TWO START etsi udiditlv through blackberries & brown sugar */

#etsi h1 {
  margin-right: 10vw;
  font-size: 60px;
  color: #542718;
}

#etsi h2 {
  color: #542718;
  margin-right: 10vw;
}

#etsi p {
   margin-left: 10vw;
}

.etsi-text {
  width: 55vw;
  margin-top: 5vh;
  margin-bottom: 20vh;
}

#etsi img {
  width: 30vw;
}

#etsi div {
  display: inline-block;
}

.etsi-title {
  margin-left: 55vw;
  padding-top: 450px;
}

.etsi-image {
  width: 40vw;
}

.etsi-inner {
  width: 100%;
  background-image: url("../images/etsi-1.png"), url("../images/etsi-2.png");
  background-size: 60vw;
  background-repeat: no-repeat;
  background-position: left top, right bottom;
}

@media (max-width: 1000px) {
  .etsi-title {
    margin-left: 10vw;
  }

  .etsi-text {
    width: 90%;
    margin-top: 5vh;
    margin-bottom: 20vh;
  }
}

        /* ------------------- BIG CHOP ---------------*/

#big-chop {
  padding-top: 5rem;
  padding-bottom: 5rem;
  border: 10px solid #f9f2a2;
  background: #B1E2AA;
}

#big-chop h1 {
  text-align: center;
  font-size: 70px;
}

#big-chop h2 {
  text-align: center;
}

#big-chop .row {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

#big-chop .col-sm-7 {
  padding: 1rem 4rem;
}

#big-chop img {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

        /* ------------------- MIRA-QUE ---------------*/

#mira-que {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border: 10px solid #f9f2a2;
  background-color: #B1E2AA;
}

#mira-que h1 {
  margin-top: 0;
  text-align: center;
}

#mira-que h2 {
  text-align: center;
}

#mira-que .row {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

#mira-que .col-sm-6 {
  padding: 1rem 4rem;
}

#mira-que img {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

      /* ------------------- BLACKBERRIES ---------------*/

#blackberries {
  background-image: url("../images/blackberries-1.jpg");
  background-size: 100%;
  text-align: center;
  padding: 5rem 1rem;
}

#blackberries h1 {
  font-size: 50px;
}

#blackberries div {
  padding-bottom: 2rem;
}

/* SECTION THREE START, mary's grandbaby through limbo */

/**************** CARISSA *******************/

#carissa {
  padding: 4rem 0;
  position: relative;
  background-color: rgba(255,218,185, 0.3);
}

#carissa h1 {
  margin-top: 0;
  font-size: 54px;
}

#carissa h2 {
  font-size: 20px;
}

#carissa .title {
  max-width: 600px;
  margin: 0 5vw 1rem;
  padding: 1rem;
  border: 8px solid black;
}

#carissa .text {
  position: relative;
  margin: 5vw;
}

#carissa #summer_img {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: -10;
}

@media (max-width: 500px) {
  #carissa h1 {
    font-size: 40px;
  }
}

/*************  AISHVARYA ***************/

#aishvarya {
  position: relative;
  padding: 3rem 0;
}

#aishvarya .title {
  position: relative;
  z-index: 12;
  max-width: 600px;
  margin: 0 auto 2rem;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);

}

#aishvarya h1 {
  font-size: 54px;
}

#aishvarya h2 {
  font-size: 20px;
}

#aishvarya .column {
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  z-index: 10;

  background-color: rgba(255, 255, 255, 0.5);
}

#aishvarya img {
  position: absolute;
  opacity: 0.9;
}

#aishvarya #flower {
  width: 500px;
  margin-left: -8vw;
  top: 0px;
  z-index: 1;
}

#aishvarya #pelican {
  height: 400px;
  left: 0;
  top: 100vh;
  z-index: 2;
}

#aishvarya #heron{
  right: 0;
  top: 0;
  z-index: 3;
}

#aishvarya #bee {
  width: 400px;
  left: -15vw;
  top: 45vh;
  z-index: 4;
}

#aishvarya #butterfly {
  right: 0;
  top: 115vh;
  z-index: 5;
}

#aishvarya #blackberry {
  width: 200px;
  top: 160vh;
  left: 8vw;
  z-index: 6;
}

@media (max-width: 1000px) {
  #aishvarya #flower,
  #aishvarya #pelican,
  #aishvarya #bee {
    width: 200px;
  }

  #aishvarya #blackberry,
  #aishvarya #heron,
  #aishvarya #butterfly {
    width: 200px;
  }

  #aishvarya #blackberry {
    width: 100px;
  }

}

@media (max-width: 600px) {
  #aishvarya .column {
    font-size: 2.4vw;
    padding: 1em;
  }
}

/************************* EMILY ****************************/

#emily {
  position: relative;
  z-index: 20;
  margin: 4rem 0;
  padding: 4rem 0;
  background-color: white;
  background-image: url("../images/star-ferry.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
}

#emily h1 {
  text-align: center;
  font-size: 54px;
}

#emily h2 {
  text-align: center;
  font-size: 20px;
}

#emily .text {
  padding: 2rem 0;
  text-align: left;
  display: inline-block;
}

#emily .column {
  margin: 0 auto;
  text-align: center;
}

/******************* ANONYMOUS AND TIARA *******************/

#tiara_anon {
  padding: 4rem 0 0 0;
  background-image: url("../images/trapped_limbo.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: left top;
  background-attachment: fixed;
}

#tiara_anon h1 {
  margin-top: 0;
  font-size: 54px;
}

#tiara_anon h2 {
  font-size: 20px;
}

#anonymous .title {
  max-width: 540px;
  margin: 2rem;
  padding: 1rem;
  border: 1px solid black;
  background-color: white;
}

#anonymous p {
  max-width: 500px;
  margin: 1rem 2rem 2rem 2rem;
  padding: 1rem;
  border: 1px solid black;
  background-color: white;
  text-align: left;
}

#tiara {
  text-align: right;
}

#tiara .title {
  text-align: left;
  display: inline-block;
}

#tiara .inner-text {
  max-width: 600px;
  margin-top: 15rem;
  padding: 2rem;
  text-align: left;
  display: inline-block;
}

@media (max-aspect-ratio: 1018/360) {
  #tiara .inner-text{
    background-color: rgba(255,255,255,0.9);
  }
}

/*<!-- SECTION FOUR START A slow brunch through a guide to helping depressed parents-->*/

#slow-brunch {
  padding: 2rem 0;
  background-color: #e0d1e6;
}

#slow-brunch .container {
  max-width: 1170px;
}

#slow-brunch h1 {
  margin-top: 0;
  color: #8592c9;
  font-size: 50px;
}

#slow-brunch .article {
  max-width: 500px;
  padding: 0 1rem 1rem;
  margin: 0 auto;
  background-color: rgba(224, 209, 230, 0.75);
}

#slow-brunch img {
  width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  #slow-brunch img {
    width: 200%;
  }
}

/*----------------*/

#curly-routine {
  padding: 2rem 0;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #f6e7a4;
}

#curly-routine h1 {
  margin-top: 2rem;
  font-size: 60px;
}

#curly-routine img {
  width: auto;
  height: 1100px;
  opacity: 0.15;
}

#curly-routine p {
  margin-bottom: 0;
}

#curly-routine .col-sm-6.img {
  position: absolute;
  top: 0;
}

@media (min-width: 768px) {
  #curly-routine h1,
  #curly-routine h2 {
    width: 500px;
    margin-left: 50px;
  }

  #curly-routine p {
    margin-left: 50px;
    margin-right: 0;
  }

  #curly-routine img {
    opacity: 1;
  }

  #curly-routine .col-sm-6.img {
    position: static;
  }
}

@media (min-width: 1200px) {
  #curly-routine h1,
  #curly-routine h2,
  #curly-routine p {
    margin-left: 255px;
  }
}

/*----------------*/

#keep-love {
  padding: 2rem;
  background: url(../images/gray-bg.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#keep-love h1 {
  margin-top: 0;
  font-size: 60px;
}

#keep-love .red {
  color: #a60c26;
}

#keep-love img {
  width: 50%;
  max-width: 600px;
  height: auto;
  margin: 2rem auto;

  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 580px) {
  #keep-love img {
    width: 90%;
  }
}

/*----------------*/

#colored-women {
  margin: 0;
  padding: 2rem;
  text-align: center;
  color: white;

  background: url(../images/clouds1.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#colored-women h1 {
  margin-top: 0;
  font-size: 60px;
}

#colored-women .clouds2 {
  height: 15rem;
  width: 100%;

  background: url(../images/clouds2.jpg) no-repeat center bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#colored-women .clouds1 {
  height: 15rem;
  width: 100%;
  margin: 1rem 0;

  background: url(../images/clouds2.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*----------------*/

#guide-parents {
  padding: 2rem 0;
  background: url(../images/bedroom.jpg) no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#guide-parents h1 {
  margin-top: 0;
  font-size: 75px;
  text-align: center;
  color: white;
}

#guide-parents h2 {
  text-align: center;
  color: white;
}

#guide-parents p {
  max-width: 800px;
  margin: 1.5rem auto 0;
  padding: 0.5rem;
  background-color: white;
}

@media (max-width: 991px) {
  #guide-parents h1 {
    font-size: 50px;
  }
}

/* SECTION FIVE START unmasked friend through a future maybe */

#unmasked-friend {
  margin: 0;
  padding: 4rem;
  border: 20px solid white;
  color: white;
  background-color:	#301934;
  background-image: url("../images/OPINION masculinity 1 - Cecily Lo.png");
}

#unmasked-friend h1 {
  margin-top: 0;
  font-size: 75px;
  text-align: center;
}

@media (max-width: 600px) {
  #unmasked-friend {
    padding: 2rem;
  }

  #unmasked-friend h1 {
    font-size: 50px;
  }
}

/********************/

#mother {
  background-image: url("../images/mother.png");
  background-size: contain;
  background-repeat: no-repeat;
  padding: 4rem 2rem;
  text-align: center;
}

#mother .text {
  background-color: rgba(255,255,255,0.7);
  display: inline-block;
}

/********************/

#dreams-allowed {
  padding: 4rem 2rem;
  color: white;
  text-align: center;
  background-image: url("../images/dreams.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#dreams-allowed .inner-text {
  max-width: 35rem;
  text-align: left;
  display: inline-block;
}

#dreams-allowed h1 {
  font-size: 60px;
}

#dreams-allowed h2 {
  padding-bottom: 2rem;
}

/********************/

#mother-glass {
  background-image: url("../images/mother-g1 2.jpg");
  background-repeat: no-repeat;
  background-size:cover;

  padding: 4rem 2rem;

  /*border-top: 10px solid white;
  border-bottom: 40px solid white;*/
}

#mother-glass h1 {
  color: white;
  font-size: 60px;
}

#mother-glass h2 {
  color: white;
}

#mother-glass .text {
  display: inline-block;
  background-color: rgba(255,255,255,0.9);
  padding: 1rem;
}

#mother-glass p {
  color: black;
  line-height: 2.5;
}

/********************/

#a-future {
  padding: 6rem;
}

#a-future .row {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

#a-future h1 {
  margin-top: 0;
}

#a-future img {
  width: 100%;
  height: auto;
  margin-top: 2rem;
}

@media (max-width: 767px) {
  #a-future {
    padding: 2rem;
  }
}

#parting .row {
  max-width: 100%;
}

#parting h1 {
  margin-top: 0;
  text-align: left;
}

#parting img {
  padding: 0;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#parting .col-sm-5 {
  text-align: center;
  margin-bottom: 25vh;
  max-width: 100%;
}

#parting .col-sm-7 {
  padding: 2rem;
}

#back_to_O a {
  color: black;
}

#back_to_O {
  text-align: center;
  font-size: 40px;
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-style: italic;
  margin-bottom: 25vh;
}
