html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Vollkorn", serif;
  font-weight: 400;
  font-size: 16px;
}
section {
	width: 100%;
 }
/*title of article*/
h1 {
	font-family: "Open Sans", sans-serif;
  font-weight: 800;
	font-size: 36px;
}

/*author of article*/
h2{
	font-family: "Open Sans", sans-serif;
  font-weight: 800;
	font-size: 24px;

}

/*article text*/
p {

}

/*Always do this for sections in your page!*/
/*keep in order of actual page for organization*/

/*#toc h1
#toc h2
#toc p*/

/*<!-- SECTION ONE START letter to editor through all grown up-->
*/
/*#editor-note h1
#editor-note h2
#editor-note p

#kriska h1
#kriska h2
#kriska p*/





 /* <!-- SECTION TWO START etsi udiditlv through blackberries & brown sugar-->


  <!-- SECTION THREE START, mary's grandbaby through limbo -->


<!-- SECTION FOUR START A slow brunch through a guide to helping depressed parents-->*/

#slow-brunch {
  background-color: #e0d1e6;
  padding: 2rem 0;
}

#slow-brunch .container {
  max-width: 1170px;
}

#slow-brunch h1 {
  color: #8592c9;
  font-size: 50px;
  margin-top: 0;
}

#slow-brunch .article {
  max-width: 500px;
  background-color: rgba(224, 209, 230, 0.75);
  padding: 0 1rem 1rem;
  margin: 0 auto;
}

#slow-brunch img {
  width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  #slow-brunch img {
    width: 200%;
  }
}

  /*<!-- SECTION FIVE START unmasked friend through a future maybe-->*/
